* {
  margin: 0;
}

body {
  background-color: #e8f5ff;
  font-family: Arial;
  overflow: hidden;
}

/* NavbarTop */
.topbar {
  background-color: #333;
  color: white;
  box-shadow: 0px 4px 8px 0px grey;
  height: 85px;
}

.title {
  font-family: 'Dancing Script';
  padding-top: 15px;
  position: absolute;
  left: 38%;
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
}

/* Container */
.container {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 0 10px;
  width: 65vw;
}

.container h2 {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.container .card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 60px 30px;
}

.container .username, .container .pw {
    width: 57vw;
    margin: 8px 0px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container p {
  color: red;
  margin: 1% auto;
  text-align: center;
}
/*Button */
.button {
  background-color: #ffffbf;
  color: black;
  width: 90%;
  font-family: 'Segoe UI';
  font-size: 14px;
  margin: 8px 5%;
  padding: 14px 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px grey;
  cursor: pointer;
}

.button:hover {
  background-color: #ff6;
}